@using AlcogolDomain;
@model IEnumerable<ProductsEntity>
@{
    ViewBag.Title = "Контакты";
}



        <div class="row">
            <h3>Основатели компании:</h3>
            <div class="row">
                <div class="col-lg-3">
                    <ul class="list-group">
                        <li class="list-group-item"><h4>Амелькин Владислав:</h4><h5>89538852562 amelkin-98@mail.ru</h5></li>
                        <li class="list-group-item"><h4>Живоженко Андрей:</h4><h5>89133779263 sportcmen-98@mail.ru</h5></li>
                        <li class="list-group-item"><h4>Дорофеев Виктор:</h4><h5>89529422475 alcogolic_228@mail.ru</h5></li>
                    </ul>
                </div>
            </div>
        </div>
