<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <img src="~/Images/Cap.jpg" />
        </div>
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="/Home/Index"><big><big>Главная</big></big><span class="sr-only">(current)</span></a></li>
                        <li class="active"><a href="/Product/List"><big><big>Товары</big></big></a></li>
                        <li><a href=""><big><big>Отзывы</big></big></a></li>
                        <li><a href="/Contact/Index"><big><big>Контакты</big></big></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Cart/Index"><big><big>Корзина</big></big></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        </div>
        <div>
            @RenderBody()
        </div>
</body>
</html>
